.idea/
.vscode/
.git*
.pre-commit-config.yaml
/\.pre-commit-config.yaml
Makefile
/Makefile
tmp
*.tgz
*.tar
*.tar.gz
*.tar.xz
*.tar.bz2
docs/
scripts/
samples/
tests/
__snapshot__/
values.yaml.example
/values.yaml.example
values.example.yaml
/values.example.yaml
.gitignore
.gitlab-ci.yml
